@page "/employeedetails"
@page "/employeedetails/{id}"
@inherits EmployeeDetailsBase

@if (Employee == null || Employee.Department == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="row justify-content-center m-3">
        <div class="col-sm-8">
            <div class="card bg-dark">
                <div class="card-header text-white  bg-dark">
                    
                    <h1>@Employee.FirstName @Employee.LastName @Coordinates</h1>
                </div>

                <div class="card-body text-center">
                    <img class="card-img-top" src="@Employee.PhotoPath"  @onmousemove="@Mouse_Move" />

                    <h4>Employee ID : @Employee.EmployeeId</h4>
                    <h4>Email : @Employee.Email</h4>
                    <h4>Department : @Employee.Department.DepartmentName</h4>
                    <button class="btn btn-warning" @onclick="@Button_Click">@ButtonText</button>
                </div>
                <div class="card-footer text-center @CssClass">
                    <a href="/" class="btn btn-primary">Back</a>
                    <a href="@($"editemployee/{Employee.EmployeeId}")" class="btn btn-primary m-1">Edit</a>
                    <a href="#" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
}